<div class="appointmentPage animated fadeIn fast">
  <button
    class="appointmentPage-button animated fadeIn fast"
    [routerLink]="['/appointment-register']"
    routerLinkActive="router-link-active"
  >
    Appointment Register <fa-icon class="icon" [icon]="faPencilAlt"></fa-icon>
  </button>

  <button
    class="appointmentPage-button animated fadeIn fast"
    [routerLink]="['/appointment-list']"
    routerLinkActive="router-link-active"
  >
    Appointment List<fa-icon class="icon" [icon]="faList"></fa-icon>
  </button>
</div>
