<div class="aboutPage animated fadeIn fast">
  <div class="card">
    <img [src]="homeWallpaper" class="homeWallpaper card-img-top" alt="..." />
    <div class="card-body textContainer">
      <h5 class="card-title">About the project</h5>
      <p class="card-text">
        This is going to be a long project where I'm going to use all of my
        knowledge as a front-end developer. During Adalab's course, I had the
        idea to create this app, firstly as a way to keep learning, but little
        by little, this project has been growing as you can see. The idea is to
        have an app where you can see all of the info related to your health. It
        can be usefull for you, to put some alarms to remember when you need to
        take the next medication, or for your doctor who can see quickly your
        health status. You can register your medication, flare-ups, symptomps,
        so It's easier to transmit all of this info to your doctor.
      </p>
    </div>
    <div class="card-body link-container">
      <a href="#" class="card-link socialLink">Github link</a>
    </div>
  </div>
  <div class="card">
    <img [src]="lauraPicture" class="lauraPicture card-img-top" alt="..." />
    <div class="card-body textContainer textContainer-laura">
      <h5 class="card-title">About me</h5>
      <p class="card-text">
        I've always been interested in front-end development and I found the
        best moment with the bootcamp
        <a
          className="linkAdalab"
          href="https://adalab.es"
          target="_blank"
          rel="noopener noreferrer"
          >Adalab</a
        >. For me, software is a new framework to express and improve my
        resolutive and creative skills.
      </p>
    </div>
    <div class="card-body link-container">
      <a
        class="socialLink"
        href="https://www.linkedin.com/in/laurapareja/"
        target="_blank"
        rel="noopener noreferrer"
        >/in/laurapareja</a
      >
      <a
        class="socialLink"
        href="https://github.com/laurapareja"
        target="_blank"
        rel="noopener noreferrer"
      >
        laurapareja</a
      >
      <a
        class="socialLink"
        href="https://twitter.com/_laurapareja_"
        target="_blank"
        rel="noopener noreferrer"
      >
        _laurapareja_</a
      >
    </div>
  </div>
</div>
