<div class="treatmentPage animated fadeIn fast">
  <button
    class="treatmentPage-button animated fadeIn fast"
    [routerLink]="['/treatment-register']"
    routerLinkActive="router-link-active"
  >
    Treatment Register <fa-icon class="icon" [icon]="faPencilAlt"></fa-icon>
  </button>
  <button
    class="treatmentPage-button animated fadeIn fast"
    [routerLink]="['/treatment-list']"
    routerLinkActive="router-link-active"
  >
    Treatment List<fa-icon class="icon" [icon]="faList"></fa-icon>
  </button>
</div>
